body
{
    margin: 0;
    height: 100%;
}

html
{
    height: 100%;
}

h1
{
    font-family: Arial;
    text-align: center;
}

p
{
    font-family: Arial;
    font-size: 18px;
}

#hdr
{
    display: flex;
    padding-left: 20px;
    background-color: gray;
}

.hdrlink
{
    font-family: Arial;
    font-size: 24px;
    color: white;
    margin: 20px;
}

#leftdiv
{
    float: left;
    width: 50%;
    margin-bottom: 40px;
}

#rightdiv
{
    float: right;
    width: 50%;
    margin-bottom: 40px;
}

.colmargin
{
    margin: 20px;
}

#imgbox
{
    background-color: lightgrey;
    height: 300px;
}

#ftr
{
    width: 100%;
    height: 80px;
    background-color: gray;
    clear: both;

}

#container
{
/*    margin: 20px;*/
    min-height: 100%;
}

#container:after
{
    content: "";
    display: block;
}

footer, #container:after
{
    height: 80px;
}